{% extends 'base.html' %}

{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Cart</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">{{ product.name }}</h2>
                                    </td>
                                    <td>{{ product.price }}</td>
                                    <td onload="calculate_total({{ product.price }}, {{ product.id }})">
                                        <input type="hidden" name="product_id" id="product_id">
                                        <div class="input-group mb-3" style="max-width: 120px;">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-primary js-btn-minus" type="button"
                                                        onclick="decrement({{ product.price }},{{ product.id }})">
                                                    &minus;
                                                </button>
                                            </div>
                                            <input type="text" id="product_count_{{ product.id }}"
                                                   class="form-control text-center" value="{{ product.count }}"
                                                   placeholder="" aria-label="Example text with button addon"
                                                   aria-describedby="button-addon1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary js-btn-plus" type="button"
                                                        onclick="increment({{ product.price }},{{ product.id }})">&plus;
                                                </button>
                                            </div>
                                        </div>

                                    </td>
                                    <td id="total_price_{{ product.id }}">${% total_price product.price product.count %}</td>
                                    <td>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ product.id }}">
                                            <button class="btn btn-primary btn-sm" type="submit">X</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            {#                  <tr>#}
                            {#                    <td class="product-thumbnail">#}
                            {#                      <img src="{% static  'images/cloth_2.jpg' %}" alt="Image" class="img-fluid">#}
                            {#                    </td>#}
                            {#                    <td class="product-name">#}
                            {#                      <h2 class="h5 text-black">Polo Shirt</h2>#}
                            {#                    </td>#}
                            {#                    <td>$49.00</td>#}
                            {#                    <td>#}
                            {#                      <div class="input-group mb-3" style="max-width: 120px;">#}
                            {#                        <div class="input-group-prepend">#}
                            {#                          <button class="btn btn-outline-primary js-btn-minus" type="button">&minus;</button>#}
                            {#                        </div>#}
                            {#                        <input type="text" class="form-control text-center" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">#}
                            {#                        <div class="input-group-append">#}
                            {#                          <button class="btn btn-outline-primary js-btn-plus" type="button">&plus;</button>#}
                            {#                        </div>#}
                            {#                      </div>#}
                            {##}
                            {#                    </td>#}
                            {#                    <td>$49.00</td>#}
                            {#                    <td><a href="#" class="btn btn-primary btn-sm">X</a></td>#}
                            {#                  </tr>#}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <button class="btn btn-primary btn-sm btn-block">Update Cart</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-primary btn-sm btn-block">Continue Shopping</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">Coupon</label>
                            <p>Enter your coupon code if you have one.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">Apply Coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    {% for product in products %}
                                        <strong class="text-black">$
                                             {% total_price product.price product.count %}
                                        </strong>
                                        </div>
                                        </div>
                                        <div class="row mb-5">
                                        <div class="col-md-6">
                                            <span class="text-black">Total</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                        <strong class="text-black">$
                                            {% total_price product.price product.count %}
                                        </strong>
                                    {% endfor %}

                                    </div>
                                    </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg py-3 btn-block"
                                            onclick="window.location='checkout'">Proceed To Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{#----------------------------------------------------------#}

{#----------------------------------------------------------#}
{% block js %}
    <script src="{% static  'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static  'js/jquery-ui.js' %}"></script>
    <script src="{% static  'js/popper.min.js' %}"></script>
    <script src="{% static  'js/bootstrap.min.js' %}"></script>
    <script src="{% static  'js/owl.carousel.min.js' %}"></script>
    <script src="{% static  'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static  'js/aos.js' %}"></script>
    <script src="{% static  'js/main.js' %}"></script>
    <script>
        const increment = (price, id) => {
            calculate_total(price, id)
            fetch('http://127.0.0.1:8000/increment-count', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: id
                })
            }).then(rsp => rsp.json()).then(response => console.log(response))
            calculate_total(price, id, 1)
        }
        const decrement = (price, id) => {
            calculate_total(price, id)
            fetch('http://127.0.0.1:8000/decrement-count', {
                method: 'POST',
                body: JSON.stringify({
                    id: id
                })
            }).then(rsp => rsp.json()).then(response => console.log(response))
            calculate_total(price, id, 2)
        }
        const calculate_total = (price, id, value) => {
            let product_count = document.getElementById('product_count_' + id).value
            if (value === 1) {
                product_count++
            } else {
                if (parseInt(product_count) !== 0) {
                    product_count--
                }
            }
                const total_price = product_count * price
                console.log(product_count)
                document.getElementById('total_price_' + id).innerHTML = '$' + `${total_price}`
        }
    </script>
{% endblock js %}